@import '../../style/variables';

.about {  
    &__title {
        position: relative;
        margin-top: 78px;
        max-width: 692px;
        display: block;
        &_h1 {
            font-size: 200px;
            font-weight: 900;
            text-transform: uppercase;
            color: #F3F3F3;
            display: block;
            text-align: left;
            line-height: 95%;
            span {
                font-size: 200px;
                font-weight: 900;
                text-transform: uppercase;
                color: #F3F3F3;
                position: relative;
                left: 7px;
                line-height: 95%;
            }
        }
        &_img {
            position: absolute;
            right: -40px;
            bottom: -23px;
        }
    }
    &__descr {
        display: flex;
        margin: 160px auto;
        max-width: 920px;
        justify-content: space-between;
        .title_h3 {
            margin: 0;
        }
        &_text {
            flex-basis: 606px;
            margin: 0;
        }
    } 
    &__items {
        display: flex;
        justify-content: space-around;
        margin-bottom: 162px;
        counter-reset: section;
    }
    &__item {
        flex-basis: 17%;
        &:before {
            content: "0"counter(section);
            counter-increment: section;
            color: $red;
        }
        
    }
     
    &__maps {
        display: block;
        margin: 0 auto;
        position: relative;
        margin-bottom: 131px;
        .title_h3 {
            text-align: center;
        }
        &_img {
            margin: 0 auto;
            margin-top: 50px;
            display: block;
            width: 1039px;
            max-width: 100%;
        }
        &_stat {
            position: absolute;
            bottom: -45px;
            left: 0;
        }
        &_qty {
            display: flex;
            flex-direction: column;
            margin-bottom: 45px;
            span {
                margin: 0;
                font-weight: 500;
                font-size: 30px;
                line-height: 145%;
            }
        }
        
    }
}

@media (max-width: 768px) {
    .about {  
        &__title {
            max-width: 520px;
            &_h1 {
                font-size: 140px;
                span {
                    font-size: 140px;
                }
            }
            &_img {
                max-width: 286px;
                right: 0px;
            }
        }
        &__descr {
           flex-direction: column;
        }  
        &__items {
           flex-wrap: wrap;
        }
        &__item {
            flex-basis: 50%;
            max-width: 250px;
            margin-bottom: 40px;
        }
        &__maps {
            &_img {
                max-width: 70%;
                margin-right: 20px;
            }
            &_qty {
                span {
                    font-size: 20px;
                }
            }
            
        }
    }  
}
@media (max-width: 480px) {
    .about {  
        &__title {
            max-width: 184px;
            margin-top: 0;
            &_h1 {
                font-size: 50px;
                span {
                    font-size: 50px;
                }
            }
            &_img {
                max-width: 102px;
                right: 0px;
            }
        }
         
        
        &__item {
            flex-basis: 100%;
            margin-left: 0;
            max-width: 100%;
        }
        &__maps {
            &_img {
                max-width: 100%;
                margin-right: 20px;
                margin-top: 180px;
            }
            &_stat {
                top: 20px;
                span {
                    font-size: 20px;
                    top: 0;
                }
            }
            
        }
    }  
}
    