.page404 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 90px;
    &__descr {
        margin: 0;
        max-width: 300px;
    }
    &__img {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .page404 {
        &__img {
            width: 100%;
            max-width: 438px;
        }
    }
}

@media (max-width: 480px) {
    .page404 {
        flex-wrap: wrap;
        margin-top: 0;
        &__descr {
            max-width: 250px;
            text-align: center;
            margin-bottom: 100px;
        }
    }
}
