.steps {
    padding: 100px 0;
    &__wrap {
        display: flex;
        position: relative;
        margin-top: 50px;
    }
    &__item {
        position: relative;
        flex-basis: 22%;
        div:nth-child(2) {
            display: block;
            position: absolute;
            width: 113px;
            height: 113px;
            background: #F2FCFF;
            /* background: blue; */
            border-radius: 50%;
            top: 24px;
            left: 37px;
            z-index: -1;   
        }
        &:nth-child(2n) {
            position: relative;
            top: 25px;
        }
    }
    &__number {
        font-weight: 900;
        font-size: 70px;
        line-height: 145%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        -webkit-text-stroke: 1px blue;
        color: white;
    }
}

@media (max-width: 768px) {
    .steps {
        &__wrap {
            flex-wrap: wrap;
        }
        &__item {
            flex-basis: 35%;
        }
    }
}